STU_POSTGRES_DB=stu
STU_POSTGRES_USER=stu
STU_POSTGRES_PASSWORD=change-me-before-use
STU_POSTGRES_PORT=55432
STU_API_PORT=8080
STU_APP_PORT=5173
STU_ADMIN_PORT=5174
STU_MARTIN_PORT=3000
STU_GATEWAY_PORT=8088
STU_DB_CONNECTION=Host=database;Port=5432;Database=stu;Username=stu;Password=change-me-before-use
